[safe]
	directory = /home/hanjeongjin/Workspace_ubuntu/madcampweek2-server/BackendArchive/han/welcome-to-docker_test
	directory = /home/hanjeongjin/Workspace_ubuntu/madcampweek2-server/BackendArchive/han/welcome-to-docker_test2
