# dev_user1 내부 무시할 디렉토리들
dev_user1/.vscode-server/
dev_user1/.local/
dev_user1/.cache/
dev_user1/snap/
dev_user1/.vscode/
dev_user1/.wget-hsts
dev_user1/.ssh

# dev_user8 내부 무시할 디렉토리들
dev_user8/.vscode-server/
dev_user8/.local/
dev_user8/.cache/
dev_user8/snap/
dev_user8/.vscode/
dev_user8/.wget-hsts
dev_user8/.ssh

# dev_user9 내부 무시할 디렉토리들
dev_user9/.vscode-server/
dev_user9/.local/
dev_user9/.cache/
dev_user9/snap/
dev_user9/.vscode/
dev_user9/.wget-hsts
dev_user9/.ssh


# dev_user10 내부 무시할 디렉토리들
dev_user10/.vscode-server/
dev_user10/.local/
dev_user10/.cache/
dev_user10/snap/
dev_user10/.vscode/
dev_user10/.wget-hsts
dev_user10/.ssh


# dev_user14 내부 무시할 디렉토리들
dev_user14/.vscode-server/
dev_user14/.local/
dev_user14/.cache/
dev_user14/snap/
dev_user14/.vscode/
dev_user14/.wget-hsts
dev_user14/.ssh
        # dev_user15 internal directories to ignore
        dev_user15/.vscode-server/
        dev_user15/.local/
        dev_user15/.cache/
        dev_user15/snap/
        dev_user15/.vscode/
        dev_user15/.wget-hsts
        dev_user15/.ssh
        

        # dev_user_test internal directories to ignore
        dev_user_test/.vscode-server/
        dev_user_test/.local/
        dev_user_test/.cache/
        dev_user_test/snap/
        dev_user_test/.vscode/
        dev_user_test/.wget-hsts
        dev_user_test/.ssh
        

        # dev_test_user2 internal directories to ignore
        dev_test_user2/.vscode-server/
        dev_test_user2/.local/
        dev_test_user2/.cache/
        dev_test_user2/snap/
        dev_test_user2/.vscode/
        dev_test_user2/.wget-hsts
        dev_test_user2/.ssh
        

        # madcamp internal directories to ignore
        madcamp/.vscode-server/
        madcamp/.local/
        madcamp/.cache/
        madcamp/snap/
        madcamp/.vscode/
        madcamp/.wget-hsts
        madcamp/.ssh
        

        # imsnmn internal directories to ignore
        imsnmn/.vscode-server/
        imsnmn/.local/
        imsnmn/.cache/
        imsnmn/snap/
        imsnmn/.vscode/
        imsnmn/.wget-hsts
        imsnmn/.ssh
        

        # dev_user115 internal directories to ignore
        dev_user115/.vscode-server/
        dev_user115/.local/
        dev_user115/.cache/
        dev_user115/snap/
        dev_user115/.vscode/
        dev_user115/.wget-hsts
        dev_user115/.ssh
        

        # Jeong-jin-Han internal directories to ignore
        Jeong-jin-Han/.vscode-server/
        Jeong-jin-Han/.local/
        Jeong-jin-Han/.cache/
        Jeong-jin-Han/snap/
        Jeong-jin-Han/.vscode/
        Jeong-jin-Han/.wget-hsts
        Jeong-jin-Han/.ssh
        

        # Jeong-jin-Han internal directories to ignore
        Jeong-jin-Han/.vscode-server/
        Jeong-jin-Han/.local/
        Jeong-jin-Han/.cache/
        Jeong-jin-Han/snap/
        Jeong-jin-Han/.vscode/
        Jeong-jin-Han/.wget-hsts
        Jeong-jin-Han/.ssh
        

        # Jeong-jin-Han internal directories to ignore
        Jeong-jin-Han/.vscode-server/
        Jeong-jin-Han/.local/
        Jeong-jin-Han/.cache/
        Jeong-jin-Han/snap/
        Jeong-jin-Han/.vscode/
        Jeong-jin-Han/.wget-hsts
        Jeong-jin-Han/.ssh
        

        # Jeong-jin-Han internal directories to ignore
        Jeong-jin-Han/.vscode-server/
        Jeong-jin-Han/.local/
        Jeong-jin-Han/.cache/
        Jeong-jin-Han/snap/
        Jeong-jin-Han/.vscode/
        Jeong-jin-Han/.wget-hsts
        Jeong-jin-Han/.ssh
        

        # Jeong-jin-Han internal directories to ignore
        Jeong-jin-Han/.vscode-server/
        Jeong-jin-Han/.local/
        Jeong-jin-Han/.cache/
        Jeong-jin-Han/snap/
        Jeong-jin-Han/.vscode/
        Jeong-jin-Han/.wget-hsts
        Jeong-jin-Han/.ssh
        

        # Jeong-jin-Han internal directories to ignore
        Jeong-jin-Han/.vscode-server/
        Jeong-jin-Han/.local/
        Jeong-jin-Han/.cache/
        Jeong-jin-Han/snap/
        Jeong-jin-Han/.vscode/
        Jeong-jin-Han/.wget-hsts
        Jeong-jin-Han/.ssh
        
